# Ignore virtual environment
myenv/

# Ignore model files if large
*.h5
*.pth
*.ckpt

# Ignore system files
.DS_Store
*.log
*.sqlite3

# Ignore sensitive files
config.json
.env

# Ignore large datasets
*.csv
*.xlsx
*.zip
data/

# Ignore IDE settings
.idea/
.vscode/